* {
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
    text-align: center;
}

ul{
    font-size: larger;
    list-style: none;
}

h1{
    font-size: 60px;
}